:root {
  --side-width: 20%;
  --side-min-width: 300px;

  --height-players-selector: calc(50px * 5);
  --height-ready-button: 100px;
}

.game_container {
    background: transparent;

    display: flex;
    flex-direction: row;
}

.configuration_character {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.configuration_pirate {
    width: 100%;
    height: calc(100% - var(--height-ready-button));

    flex-wrap: wrap;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.configuration_start {
    height: var(--height-ready-button);

    display: flex;
    justify-content: center;
    align-items: center;
}

.configuration_side {
    height: 100%;
    width: var(--side-width);
    min-width: var(--side-min-width);

    background: #fff;

    display: flex;
    flex-direction: column;
}

.configuration_players {
    width: 100%;
    height: var(--height-players-selector);
    border-bottom: 1px solid #bbb;
}

.player_line {
    width: calc(100% - 20px);
    height: calc(20% - 1px);
    border-bottom: 1px solid #bbb;

    display: flex;
    align-items: center;
    padding: 0 10px;
}

.configuration_chat {
    width: 100%;
    height: calc(100%);
    overflow: auto;
}

.button_ready.button_on {
    background: green;
}