html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

body {
    background-image: url("../assets/wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}